@import "styles/variables";

.projectLocation {
  background-color: #f9f9f9;
  padding-bottom: 60px;

  @media (min-width: 1200px) {
    padding-bottom: 100px;
  }

  .icon {
    display: block;
    margin-bottom: 25px;
  }

  .title {
    font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 30px;
  }

  .description {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
  }

  .advantagesList {
    display: flex;
    flex-direction: column;
    gap: 15px;

    li {
      padding-left: 10px;
      position: relative;
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      /* identical to box height */
      text-transform: uppercase;
      color: #000000;
      font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";

      &:before {
        position: absolute;
        content: "";
        top: 4px;
        left: 0;
        width: 3px;
        height: 3px;
        background-color: #000;
        border-radius: 100%;
      }
    }
  }

  .images {
    display: flex;
    gap: 20px;
  }

  .map {
    width: 100%;
    height: 400px;
    padding-top: 26px;

    @media (min-width: 768px) {
      height: 100%;
      padding-top: 0;
      padding-left: 26px;
    }
  }
}
