@import "styles/variables";

.reviewItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;

  @media (min-width: 1200px) {
    padding: 0;
  }

  .content {
    @media (min-width: 1200px) {
      padding-right: 200px;
    }
  }

  .imgBox {
    border-radius: 100%;
    overflow: hidden;

    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    line-height: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-right: 50px;
      display: block;
    }

    .placeholder {
      font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
      width: 150px;
      height: 150px;
      border-radius: 100%;
      text-align: center;
      line-height: 160px;
      font-size: 76px;
      background-color: #dddddd;
      color: #fff;
    }
  }

  .text {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    display: block;
    margin-bottom: 35px;
  }

  .author {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
    text-align: right;
  }
}
