@import "styles/variables";

.reviewItem {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 200px;
  }

  .imgBox {
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    line-height: 0;
    position: relative;

    @media (min-width: 768px) {
      margin-right: 50px;
      display: block;
    }

    .placeholder {
      font-family: "Metropolis", Helvetica, sans-serif;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      text-align: center;
      line-height: 160px;
      font-size: 76px;
      background-color: #dddddd;
      color: #fff;
    }
  }

  .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    display: block;
    margin-bottom: 35px;
  }

  .author {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
    text-align: right;
  }
}
