@import "styles/variables";

.projectApartments {
  padding: 40px 0;
  position: relative;

  .tabs {
    display: flex;
    overflow: hidden;

    .tabItem {
      min-height: 220px;
      padding: 20px 10px 40px;
      min-width: 50%;
      transition: background-color 0.3s ease-in-out;
      background-color: #fff;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @media (min-width: 768px) {
        padding-top: 25px;
      }

      &:hover {
        background-color: #f6f6f6;
        .list {
          opacity: 1;
          visibility: visible;
        }
      }

      .price {
        font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height */
        color: #000000;
        display: block;
        margin-bottom: 20px;
        text-align: left;
      }

      .bedrooms {
        font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height */
        color: #000000;
        margin-bottom: 35px;
      }

      .list {
        list-style: inside;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
        li {
          font-size: 12px;
          line-height: 15px;
          color: #000000;
          margin-bottom: 4px;
        }
      }
    }

    .active {
      background-color: #f6f6f6;
      .list {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .subtitle {
    font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .tabContent {
    .small {
      display: block;
      padding: 10px 0;
      width: 100%;
      text-align: right;
    }

    .specs {
      li {
        display: flex;
        align-items: center;
        padding: 5px 0;
        width: 100%;

        &:last-child {
          margin-top: 20px;
        }

        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 110%;
          color: #000000;

          @media (min-width: 768px) {
            font-size: 16px;
          }
        }
        .count {
          margin-right: 20px;

          @media (min-width: 768px) {
            margin-right: 40px;
          }
        }

        .value {
          margin-left: auto;
        }

        .total {
        }
      }
    }
  }

  .arrowPrev {
    position: absolute;
    z-index: 20;
    top: 5px;
    left: 0;
    display: block !important;

    @media (min-width: 768px) {
      left: 0;
      top: 15px;
    }
  }
  .arrowNext {
    position: absolute;
    z-index: 20;
    top: 5px;
    right: 0;
    display: block !important;

    @media (min-width: 768px) {
      right: 0;
      top: 15px;
    }
  }
  .apartmentsSlider {
    margin-left: 0;
    padding: 0 40px;
    position: relative;
    width: 100%;

    @media (min-width: 768px) {
      padding: 0 100px;
    }
  }
}
