@import 'styles/variables';

.reviews {
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 1200px) {
    padding: 80px 0;
  }

  .title {
    margin-bottom: 30px;
    font-family: '__Metropolis_e5531d', '__Metropolis_Fallback_e5531d';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 32px;
    color: #000000;

    @media (min-width: 768px) {
      margin-bottom: 10px;
    }
  }

  .reviewsSlider {
    padding: 0 15px;
  }

  .arrowPrev {
    position: absolute;
    z-index: 20;

    top: calc(50% - 30px);
    left: 0;
  }

  .arrowNext {
    position: absolute;
    z-index: 20;
    top: calc(50% - 30px);
    right: 0;
  }
}
