@import "styles/variables";

.button {
  font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  font-size: 1rem;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: opacity 0.2s ease-in-out;
    bottom: -12px;
    opacity: 0;
    left: 0;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
