@import "styles/variables";

.projectCard {
  position: relative;
  width: 100%;
  height: 300px;
  transition: all 0.3s ease-in-out;

  @media (min-width: 1200px) {
    &:hover {
      .info {
        opacity: 1;
        visibility: visible;
      }

      .content {
        transform: translateY(0);
      }

      .label {
        opacity: 1;
      }
    }
  }

  .info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    @media (min-width: 1200px) {
      opacity: 0;
      visibility: hidden;
    }
  }

  .content {
    max-width: 300px;
    transition: transform 0.2s ease-in-out;
    transform: translateY(10px);
  }

  .title {
    font-family: "Metropolis", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    /* identical to box height */
    color: #ffffff;
    margin-bottom: 10px;
  }

  .location {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .icon {
      display: block;
      margin-right: 10px;
      line-height: 0;
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
      text-decoration-line: underline;
      color: #ffffff;
    }
  }

  .description {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .link {
    font-family: "Metropolis", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    text-transform: uppercase;
    letter-spacing: 0.002em;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: darken(#fff, 20);
    }
  }

  .label {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 95px;
    height: 95px;
    background-color: $black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;

    span {
      font-family: "Metropolis", Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      line-height: 138%;
      /* or 14px */
      text-align: center;
      color: #ffffff;
    }
  }
}
