@import "styles/variables";

.projectAbout {
  padding-top: 60px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-top: 80px;
  }

  @media (min-width: 1200px) {
    padding-top: 100px;
  }

  .column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Metropolis", Helvetica, sans-serif;
    text-transform: uppercase;
  }

  .subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    font-family: "Metropolis", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
  }

  .paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: block;
    color: #000000;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
