@import "styles/variables";

.projectModelling {
  padding: 50px 0;
  overflow-x: hidden;

  .title {
    margin-bottom: 20px;
    font-family: var(--myfont);
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
    text-transform: uppercase;
  }

  .table {
    overflow-x: scroll;
    width: 600px;

    @media (min-width: 768px) {
      width: 700px;
    }

    @media (min-width: 1200px) {
      width: 960px;
      overflow-x: auto;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      &:last-child {
        margin-top: 20px;
        border-bottom: none;
      }

      p {
        display: block;
        width: 20%;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.025em;
        // white-space: nowrap;
        color: #000;

        &:first-child {
          width: 50%;
        }

        @media (min-width: 768px) {
          width: 15%;
        }
      }

      &:last-child {
        p {
          font-weight: 600;
        }
      }
    }
  }

  .tabs {
    display: flex;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;

    .tabItem {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;

      .sold {
        position: relative;
        text-decoration: line-through;
        // background-image: url('/images/icons/19448182.png');
        // background-size: 130px;
        // background-repeat: no-repeat;
        // background-position: center bottom;
      }

      &:hover {
        background-color: #f6f6f6;

        .sold {
          background-image: unset;
        }
        
        .soldLabel {
          display: none !important;
          opacity: 0;
        }

        .list {
          opacity: 1;
          visibility: visible;
        }
      }

      .name {
        font-family: var(--myfont);
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height */
        color: #000000;
        margin-bottom: 10px;
      }

      .price {
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height */
        font-family: var(--myfont);
        color: #000000;
      }

      .soldLabel {
        display: block !important;
        position: absolute;
        top: 120px;
        z-index: 0;
        background-image: url('/images/icons/19448182.png');
      }
    }

    .active {
      background-color: #f6f6f6;

      .sold {
        background-image: unset;
      }

      .soldLabel {
        display: none !important;
        opacity: 0;
      }
      .list {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .arrowPrev {
    position: absolute;
    z-index: 20;
    top: 30px;
    left: -15px;
    display: block !important;

    @media (min-width: 768px) {
      left: 0;
    }
  }
  .arrowNext {
    position: absolute;
    z-index: 20;
    top: 30px;
    right: -15px;
    display: block !important;

    @media (min-width: 768px) {
      right: 0;
    }
  }
  .apartmentsSlider {
    margin-left: 0;
  }
}
