@import "styles/variables";

.contactsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 768px) {
    display: block;
  }

  .icon {
    margin-bottom: 20px;
    display: block;
  }

  .title {
    font-family: var(--myfont);
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  .textLink {
    font-weight: 300;
    font-size: 12px;
    line-height: 179%;
    color: #000000;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }
}
