@import "styles/variables";

.portfolioHero {
  min-height: 400px;
  background-color: $secondary;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  @media (min-width: 768px) {
    min-height: 600px;
  }

  @media (min-width: 1200px) {
    min-height: 100vh;
  }

  .backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
  }

  .content {
    background-color: rgba(#000, 0.7);
    max-width: 93%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;

    @media (min-width: 768px) {
      max-width: 95%;
      height: 100%;
    }

    @media (min-width: 1200px) {
      max-width: 70%;
    }
  }

  .inner {
    @media (min-width: 768px) {
      display: flex;
    }
  }

  .title {
    font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  .description {
    font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 32px;
    }
  }
}
