@import "styles/variables";

.projectCta {
  background-color: $secondary;
  padding-bottom: 40px;
  padding-top: 100px;
  position: relative;

  .image {
    position: absolute;
    left: 0;
    top: 0;
    display: none;

    @media (min-width: 768px) {
      display: block;
      width: 45%;
      height: 100%;
    }

    @media (min-width: 1200px) {
      width: 54%;
    }
  }

  .title {
    font-size: 26px;
    margin-bottom: 30px;
    font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
    font-weight: 700;
    line-height: 32px;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 32px;
      max-width: 70%;
    }
  }

  .content {
    position: relative;
    z-index: 2;
    padding-right: 100px;
  }

  .description {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      max-width: 70%;
    }
  }

  .availability {
    background-color: #000;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    text-transform: uppercase;
    position: absolute;
    right: 10px;
    top: -150px;

    @media (min-width: 768px) {
      top: -130px;
    }

    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 138%;
      /* or 25px */
      font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
      text-align: center;
      color: #ffffff;
    }
  }
}
