@import 'styles/variables';

.pageHero {
  min-height: 400px;
  background-color: $secondary;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1200px) {
    min-height: 100vh;
  }

  .backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
  }

  .title {
    font-family: '__Metropolis_e5531d', '__Metropolis_Fallback_e5531d';
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    z-index: 1;
    position: relative;

    @media (min-width: 768px) {
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: 1200px) {
      font-size: 72px;
    }
  }
}
