@import "styles/variables";

.mainNav {
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
      justify-content: center;
      flex-direction: row;
    }

    li {
      margin-bottom: 50px;

      @media (min-width: 768px) {
        margin-right: 50px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      @media (min-width: 1200px) {
        margin-right: 80px;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
        color: $black;
        text-transform: uppercase;
        transition: color 0.3s ease-in-out;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #000;
          transition: opacity 0.2s ease-in-out;
          bottom: -5px;
          opacity: 0;
          left: 0;
        }

        @media (min-width: 768px) {
          font-size: 12px;
          line-height: 12px;
        }

        &:hover {
          color: $secondary;

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.footerNav {
  ul {
    li {
      margin-bottom: 20px;

      a {
        font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height */
        color: $black;
        text-transform: uppercase;
        position: relative;
        transition: color 0.3s ease-in-out;

        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #000;
          transition: opacity 0.2s ease-in-out;
          bottom: -5px;
          opacity: 0;
          left: 0;
        }

        @media (min-width: 768px) {
          font-size: 12px;
          line-height: 12px;
        }

        &:hover {
          color: $secondary;

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.navLight {
  ul {
    li {
      a {
        color: white;

        &:before {
          background-color: #fff;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
