@import "./variables";

.about {
  padding-bottom: 80px;
  position: relative;

  .title {
    font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      font-size: 50px;
      line-height: 50px;
    }
  }

  .subtitle {
    font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-bottom: 100px;
    text-transform: uppercase;
  }

  .item {
    margin-bottom: 25px;
    h3 {
      font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
      font-weight: 700;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.002em;
      color: #000000;
      margin-bottom: 15px;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      line-height: 128.02%;
      color: #000000;
    }
  }

  .aboutImages {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .aboutImage {
    position: absolute;

    width: 220px;
    height: 330px;
    display: none;

    &:nth-child(1) {
      right: 0;
      top: 0;
    }

    &:nth-child(2) {
      right: 0;
      top: 52%;
    }

    &:nth-child(3) {
      left: 0;
      top: 52%;
    }

    &:nth-child(4) {
      left: 0;
      top: 0;
    }

    @media (min-width: 1200px) {
      display: block;
    }
  }
}
