@import "./variables";

.date {
  font-size: 12px;
  font-family: var(--myfont);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
