@import "styles/variables";

.projectIntro {
  .title {
    font-family: var(--myfont);
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 15px;
  }

  .icon {
    margin-right: 8px;
  }

  .location {
    font-size: 14px;
    line-height: 15px;
    color: #000000;
  }

  .description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    @media (min-width: 1200px) {
      padding-right: 80px;
    }
  }
}
