@import "styles/variables";

.form {
  .field {
    margin-bottom: 20px;

    label {
      display: block;
      font-size: 10px;
      color: #ffffff;
    }
    input,
    textarea {
      font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
      background-color: transparent;
      width: 100%;
      border: none;
      resize: none;
      border-bottom: 2px solid #5b5960;
      font-size: 14px;
      color: #fff;
      padding: 8px 0;
      transition: border-color 0.3s ease-in-out;
      font-weight: 600;

      &::placeholder {
        color: white;
        text-transform: uppercase;
      }

      &:active,
      &:focus {
        border-color: #fff;
      }
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .submit {
    display: block;
    padding: 14px 75px;
    font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-top: 40px;

    &:hover {
      background-color: rgba(#fff, 0.2);
    }

    &:active,
    &:focus {
      background-color: rgba(#fff, 0.5);
    }
  }
}
