@import "styles/variables";

.form {
  .field {
    margin-bottom: 20px;

    label {
      display: block;
      font-size: 10px;
      color: #ffffff;
    }
    input,
    textarea {
      font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
      background-color: transparent;
      width: 100%;
      border: none;
      resize: none;
      border-bottom: 2px solid #5b5960;
      font-size: 14px;
      color: #fff;
      padding: 8px 0;
      transition: border-color 0.3s ease-in-out;
      font-weight: 600;

      &::placeholder {
        color: white;
        text-transform: uppercase;
      }

      &:active,
      &:focus {
        border-color: #fff;
      }
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .fieldError {
    input {
      color: #d32f2f;
      border-color: #d32f2f;

      &::placeholder {
        color: #d32f2f;
      }
    }
  }

  .submit {
    font-family: "__Metropolis_e5531d", "__Metropolis_Fallback_e5531d";
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 0.875rem;
    padding: 0;
    min-width: 40px;
    border-radius: 0;

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: opacity 0.2s ease-in-out;
      bottom: 0;
      opacity: 0;
      left: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}
